
@{
    ViewBag.Title = "About";
}
<div class="bio">
    <h1>About Me</h1>
</div>


<div class="col-lg-6">
    <h2>Biography</h2>
    <p><b>Portia is a registered  student at the University of Pretoria pursuing her degree in Informatics. As a high school student, she realised that information technologies pervade our daily lives and are the backbone of the economy and society and decided to be an active part of technological evolution by studing informatics. She had a rough year during her first year but managed somehow. During her second year of study things got pretty tough, computer programming has been her worst nightmare, Semester Tests gave her panick attacks in fact ...cut ..cut .. </b></p>
</div>

<div class="col-lg-6">
    <h2>Portia</h2>
    <img class="img-responsive" src="~/Media/Images/IMG-20220531-WA0029.jpg"width="300" height="300" alt="My Picture" />
</div>
